.navbar{
    height:6vh;
    background-color: #778899;;
    color: #fcfcfc;
    width: 100%;
    justify-content: center;
    align-items: center;
    direction: rtl;
   
    
    
}

.navbar-logo{
    color:#d4dbe3;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    width:12rem ;
    margin:0;
    font-weight:bold;
}
